@import "input.css";

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/inconsolata-variable.ttf");
  font-weight: 100 900;
}

/* MARK: Global
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inconsolata, sans-serif;
}

:focus-visible {
  outline: 0.125em dashed hsl(207, 93%, 21%);
  outline-offset: 0.125em;
  box-shadow: 0 0 0 0.375em hsl(210, 10%, 92%);
}

[disabled="true"] {
  pointer-events: none;
  color: initial;
  background-color: initial;
}

[disabled="true"]:not([data-disabled-effect="true"]) {
  opacity: 0.5;
  filter: grayscale(75%);
}

/* MARK: Animator
*/
.animator_expandable {
  overflow: hidden;
}

.animator_show_in {
  animation: 0.5s animator_animation ease-out forwards;
}

.animator_show_out {
  animation: 0.5s animator_animation ease-out reverse forwards;
}

@keyframes animator_animation {
  0% {
    translate: 0 1em;
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
