@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/inconsolata-variable.ttf");
  font-weight: 100 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inconsolata, sans-serif;
}

:focus-visible {
  outline: 0.125em dashed hsl(207, 93%, 21%);
  outline-offset: 0.125em;
  box-shadow: 0 0 0 0.375em hsl(210, 10%, 92%);
}

input,
button {
  font-size: 1rem;
}

:is(button, input):not(.no_button_style) {
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

button:not(.no_button_style) {
  border: solid 0.1em hsl(208, 56%, 52%);
  background-color: hsl(208, 53%, 86%);
  cursor: pointer;
}

[class*="square"] {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}

.square_big {
  width: 4em;
  height: 4em;
}

button:not(.no_button_style):is(:hover, :focus-visible) {
  border-color: hsl(208, 67%, 60%);
  background-color: hsl(207, 57%, 72%);
}

button:not(.no_button_style):active {
  border-color: hsl(208, 54%, 42%);
  background-color: hsl(207, 40%, 55%);
}

input:not(.no_input_style) {
  border: solid 0.1em hsl(208, 73%, 69%);
  background-color: hsl(208, 54%, 93%);
}

input:not(.no_input_style):is(:hover, :focus-visible) {
  border-color: hsl(208, 70%, 66%);
  background-color: hsl(208, 47%, 88%);
}

input:not(.no_input_style):active {
  border-color: hsl(208, 62%, 57%);
  background-color: hsl(207, 48%, 78%);
}
