@import "input.css";

@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/inconsolata-variable.ttf");
  font-weight: 100 900;
}

:root {
  --hue: 208;
  --separation: 45;

  --light: hsl(var(--hue) 4% 98%);
  --dark: hsl(var(--hue) 50% 4%);

  --theme: var(--light);
  --theme-inverse: var(--dark);

  --primary-color: hsl(var(--hue) 100% 50%);
  --secondary-1-color: hsl(calc(var(--hue) - var(--separation)) 100% 50%);
  --secondary-2-color: hsl(calc(var(--hue) - 180 - var(--separation)) 100% 50%);
  --complement-color: hsl(calc(var(--hue) + 180) 100% 50%);

  /* Have the CSS below as a default to prevent flashing a white screen */
  color-scheme: dark;
  --theme: var(--dark);
  --theme-inverse: var(--light);
}

:root[data-theme-dark="false"] {
  color-scheme: light;

  --theme: var(--light);
  --theme-inverse: var(--dark);

  /* * global.css */
  --background-color: var(--light);
  --text-color: var(--dark);
  --text-color-faded: hsl(from var(--text-color) h calc(s - 40) calc(l + 20));

  --focus-outline: hsl(from var(--primary-color) h 90% 20%);
  --focus-box-shadow: hsl(from var(--primary-color) h 10% 90%);

  /* * full-page.css */
  --main-children-box-shadow: hsla(from var(--theme-inverse) h s l / 0.2);
  --footer-color: hsl(from var(--complement-color) h 100% 92%);

  /* * input.css */
  /* - buttons */
  --button-border-color: hsl(from var(--primary-color) h 56% 52%);
  --button-background-color: hsl(from var(--primary-color) h 53% 86%);

  --button-border-color-hover: hsl(from var(--primary-color) h 67% 60%);
  --button-background-color-hover: hsl(from var(--primary-color) h 57% 72%);

  --button-border-color-active: hsl(from var(--primary-color) h 54% 42%);
  --button-background-color-active: hsl(from var(--primary-color) h 40% 55%);

  /* - inputs */
  --input-border-color: hsl(from var(--primary-color) h 73% 69%);
  --input-background-color: hsl(from var(--primary-color) h 54% 93%);

  --input-border-color-hover: hsl(from var(--primary-color) h 70% 66%);
  --input-background-color-hover: hsl(from var(--primary-color) h 47% 88%);

  --input-border-color-active: hsl(from var(--primary-color) h 62% 57%);
  --input-background-color-active: hsl(from var(--primary-color) h 48% 78%);

  --input-error-border-color: hsl(from var(--secondary-2-color) h 76% 56%);
  /* - checkbox and radio */
  --input-checkbox-radio-border-color: hsl(from var(--primary-color) h 78% 60%);
  --input-checkbox-radio-background-color: hsl(from var(--primary-color) h 33% 95%);

  --input-checkbox-radio-border-color-hover: hsl(from var(--primary-color) h 68% 50%);
  --input-checkbox-radio-background-color-hover: hsl(from var(--primary-color) h 48% 86%);

  --input-checkbox-radio-border-color-active: hsl(from var(--primary-color) h 68% 46%);
  --input-checkbox-radio-background-color-active: hsl(from var(--primary-color) h 46% 62%);

  /* - checkbox check */
  --input-checkbox-checked-border-color: hsl(from var(--secondary-1-color) h 87% 40%);
  --input-checkbox-checked-background-color: hsl(from var(--secondary-1-color) h 77% 64%);

  /* - checkbox toggle  */
  --input-checkbox-toggle-background-color: hsl(from var(--secondary-1-color) h 10% 36%);
  --input-checkbox-toggle-background-color-active: hsl(from var(--secondary-1-color) h 10% 46%);
  --input-checkbox-toggle-background-color-active-checked: hsl(
    from var(--secondary-1-color) h 60% 50%
  );
  --input-checkbox-toggle-background-color-checked: hsl(from var(--secondary-1-color) h 87% 40%);

  /* - radio check */
  --input-radio-checked-background-color: hsl(from var(--primary-color) h 68% 46%);

  /* * popup.css */
  --popup-background-color-color: hsl(from var(--primary-color) h 29% 92%);
  --popup-background-color-hover: hsl(from var(--primary-color) h 43% 84%);
  --popup-background-color-active: hsl(from var(--primary-color) h 32% 69%);

  --popup-timer-separator-background-color: hsl(from var(--primary-color) h 19% 65%);

  --popup-footer-background-color: hsl(from var(--primary-color) h 19% 65%);

  --popup-progress-bar-background-color: hsl(from var(--primary-color) h 42% 60%);
  --popup-progress-bar-box-shadow: hsl(from var(--primary-color) h 41% 46%);
  --popup-progress-bar-fill-background-color: hsl(from var(--primary-color) h 90% 11%);

  /* * summary.css */
  /* - tutorial */
  --summary-tutorial-no-pointers-background-color: hsla(from var(--theme-inverse) h s l / 0.25);
  --summary-tutorial-highlighter-background-color: hsla(from var(--theme-inverse) h s l / 0.125);
  --summary-tutorial-highlighter-box-shadow: hsla(from var(--theme-inverse) h s l / 0.5);

  --summary-tutorial-popup-box-shadow: hsla(from var(--theme-inverse) h s l / 0.5);
  --summary-tutorial-popup-background-color: hsl(from var(--primary-color) calc(h - 8) 63% 86%);
  --summary-tutorial-popup-border-color: hsl(from var(--primary-color) calc(h - 8) 100% 36%);

  --summary-tutorial-popup-finished-background-color: hsl(from var(--secondary-1-color) h 35% 91%);
  --summary-tutorial-popup-finished-border-color: hsl(from var(--secondary-1-color) h 73% 49%);

  --summary-tutorial-description-tip-border-left-color: hsl(
    from var(--primary-color) calc(h - 8) 42% 69%
  );
  --summary-tutorial-description-tip-background-color: hsl(
    from var(--primary-color) calc(h - 8) 54% 81%
  );

  /* button_skip background-color was not added because the mix-color is to darken the button always */

  /* - timer */
  /* - - message */
  --summary-timer-item-no-data-background-color: hsl(from var(--primary-color) h 60% 85%);
  --summary-timer-item-no-data-border-color: hsl(from var(--primary-color) h 89% 22%);

  --summary-timer-item-invalid-background-color: hsl(from var(--secondary-2-color) h 60% 90%);
  --summary-timer-item-invalid-border-color: hsl(from var(--secondary-2-color) h 94% 21%);

  /* - - item rows */
  --summary-timer-item-row-line-background-color: hsl(from var(--primary-color) h 44% 61%);
  --summary-timer-item-total-time-background-color: hsl(from var(--primary-color) h 51% 90%);

  --summary-timer-item-progress-background-color: hsl(from var(--primary-color) h 74% 31%);
  --summary-timer-item-progress-border-color: hsl(from var(--primary-color) h 79% 23%);

  /* - - show more */
  --summary-timer-body-more-background-color: hsl(from var(--primary-color) h 58% 55%);

  /* * options.css */
  --options-header-border-bottom-color: hsl(from var(--primary-color) calc(h - 8) 53% 77%);
  --options-options-more-border-color: hsl(from var(--primary-color) h 5% 70%);
  --options-options-changed-configuration-background-color: hsl(
    from var(--background-color) 208 calc(s + 30) calc(l - 10)
  );

  /* - notifications */
  --options-notifications-config-border-color: hsl(from var(--primary-color) calc(h - 8) 61% 90%);

  /* - new day */
  --options-new-day-step-pointer-background-color: hsl(from var(--primary-color) h 28% 50%);
  --options-new-day-current-text-color: hsl(from var(--light) h s l);
  --options-new-day-current-background-color: hsla(from var(--primary-color) h 40% 30% / 0.7);

  /* - data */
  --options-data-feedbacks-border-color: hsl(from var(--primary-color) h 73% 32%);
  --options-data-feedbacks-progress-fill-background-color: hsl(from var(--primary-color) h 79% 66%);
  --options-data-feedbacks-step-option-border-color: hsl(from var(--primary-color) h 73% 32%);
  --options-data-feedbacks-step-option-border-color-hover: hsl(from var(--primary-color) h 64% 89%);
  --options-data-feedbacks-step-option-border-color-active: hsl(
    from var(--primary-color) h 65% 81%
  );
  --options-data-feedbacks-step-option-checked-border-color: hsl(
    from var(--secondary-1-color) h 70% 82%
  );
  --options-data-feedbacks-step-option-checked-border-color-hover: hsl(
    from var(--secondary-1-color) h 68% 78%
  );
  --options-data-feedbacks-step-option-checked-border-color-active: hsl(
    from var(--secondary-1-color) h 62% 69%
  );
  --options-data-feedbacks-step-error-message-color: hsl(
    from var(--secondary-2-color) calc(h + 10) 92% 35%
  );
  --options-data-feedbacks-step-warning-message-color: hsl(
    from var(--complement-color) calc(h + 10) 100% 23%
  );
  --options-data-feedbacks-step-file-name-background-color: hsl(
    from var(--primary-color) h 47% 93%
  );
  --options-data-feedbacks-step-thumbs-up-text-color: hsl(from var(--secondary-1-color) h 57% 30%);
  --options-data-feedbacks-step-triangle-exclamation-text-color: hsl(
    from var(--complement-color) h 85% 37%
  );
  --options-data-feedbacks-step-no-undo-color: hsl(
    from var(--secondary-2-color) calc(h + 10) 86% 35%
  );

  /* - popup */
  --options-popup-presets-button-text-color: hsla(from var(--text-color) h s l / 0.25);
  --options-popup-presets-button-box-shadow: hsla(from var(--primary-color) h 30% 30% / 0.2);
  --options-popup-presets-button-selected-background-color: hsl(
    from var(--primary-color) h 58% 93%
  );
  --options-popup-presets-button-selected-border-outline-color: hsl(
    from var(--complement-color) h 80% 60%
  );
}

:root[data-theme-dark="true"] {
  color-scheme: dark;

  --theme: var(--dark);
  --theme-inverse: var(--light);

  /* * global.css */
  --background-color: var(--dark);
  --text-color: var(--light);
  --text-color-faded: hsl(from var(--text-color) h calc(s + 5) calc(l - 20));

  --focus-outline: hsl(from var(--primary-color) h 50% 95%);
  --focus-box-shadow: hsl(from var(--primary-color) h 10% 20%);

  /* * full-page.css */
  --main-children-box-shadow: hsla(from var(--theme-inverse) h s l / 0.3);
  --footer-color: hsl(from var(--complement-color) h 15% 10%);

  /* * input.css */
  /* - buttons */
  --button-border-color: hsl(from var(--primary-color) h 35% 35%);
  --button-background-color: hsl(from var(--primary-color) h 30% 20%);

  --button-border-color-hover: hsl(from var(--primary-color) h 40% 45%);
  --button-background-color-hover: hsl(from var(--primary-color) h 35% 28%);

  --button-border-color-active: hsl(from var(--primary-color) h 45% 55%);
  --button-background-color-active: hsl(from var(--primary-color) h 40% 40%);

  /* - inputs */
  --input-border-color: hsl(from var(--primary-color) h 40% 20%);
  --input-background-color: hsl(from var(--primary-color) h 30% 10%);

  --input-border-color-hover: hsl(from var(--primary-color) h 45% 30%);
  --input-background-color-hover: hsl(from var(--primary-color) h 35% 15%);

  --input-border-color-active: hsl(from var(--primary-color) h 50% 40%);
  --input-background-color-active: hsl(from var(--primary-color) h 40% 20%);

  --input-error-border-color: hsl(from var(--secondary-2-color) h 75% 50%);
  /* - checkbox and radio */
  --input-checkbox-radio-border-color: hsl(from var(--primary-color) h 35% 20%);
  --input-checkbox-radio-background-color: hsl(from var(--primary-color) h 8% 5%);

  --input-checkbox-radio-border-color-hover: hsl(from var(--primary-color) h 40% 25%);
  --input-checkbox-radio-background-color-hover: hsl(from var(--primary-color) h 23% 14%);

  --input-checkbox-radio-border-color-active: hsl(from var(--primary-color) h 50% 30%);
  --input-checkbox-radio-background-color-active: hsl(from var(--primary-color) h 21% 25%);

  /* - checkbox check */
  --input-checkbox-checked-border-color: hsl(from var(--secondary-1-color) h 60% 60%);
  --input-checkbox-checked-background-color: hsl(from var(--secondary-1-color) h 50% 35%);

  /* - checkbox toggle  */
  --input-checkbox-toggle-background-color: hsl(from var(--secondary-1-color) h 2% 65%);
  --input-checkbox-toggle-background-color-active: hsl(from var(--secondary-1-color) h 4% 55%);
  --input-checkbox-toggle-background-color-active-checked: hsl(
    from var(--secondary-1-color) h 50% 80%
  );
  --input-checkbox-toggle-background-color-checked: hsl(from var(--secondary-1-color) h 60% 60%);

  /* - radio check */
  --input-radio-checked-background-color: hsl(from var(--primary-color) h 80% 60%);

  /* * popup.css */
  --popup-background-color-color: hsl(from var(--primary-color) h 4% 10%);
  --popup-background-color-hover: hsl(from var(--primary-color) h 18% 16%);
  --popup-background-color-active: hsl(from var(--primary-color) h 20% 28%);

  --popup-timer-separator-background-color: hsl(from var(--primary-color) h 2% 35%);

  --popup-footer-background-color: hsl(from var(--primary-color) h 2% 25%);

  --popup-progress-bar-background-color: hsl(from var(--primary-color) h 15% 35%);
  --popup-progress-bar-box-shadow: hsl(from var(--primary-color) h 15% 25%);
  --popup-progress-bar-fill-background-color: hsl(from var(--primary-color) h 50% 70%);

  /* * summary.css */
  /* - tutorial */
  --summary-tutorial-no-pointers-background-color: hsla(from var(--theme-inverse) h s l / 0.25);
  --summary-tutorial-highlighter-background-color: hsla(from var(--theme-inverse) h s l / 0.125);
  --summary-tutorial-highlighter-box-shadow: hsla(from var(--theme-inverse) h s l / 0.5);

  --summary-tutorial-popup-box-shadow: hsla(from var(--theme-inverse) h s l / 0.5);
  --summary-tutorial-popup-background-color: hsl(from var(--primary-color) calc(h - 8) 38% 14%);
  --summary-tutorial-popup-border-color: hsl(from var(--primary-color) calc(h - 8) 60% 35%);

  --summary-tutorial-popup-finished-background-color: hsl(from var(--secondary-1-color) h 15% 18%);
  --summary-tutorial-popup-finished-border-color: hsl(from var(--secondary-1-color) h 48% 35%);

  --summary-tutorial-description-tip-border-left-color: hsl(
    from var(--primary-color) calc(h - 8) 58% 31%
  );
  --summary-tutorial-description-tip-background-color: hsl(
    from var(--primary-color) calc(h - 8) 46% 19%
  );

  /* button_skip background-color was not added because the mix-color is to darken the button always */

  /* - timer */
  /* - - message */
  --summary-timer-item-no-data-background-color: hsl(from var(--primary-color) h 35% 10%);
  --summary-timer-item-no-data-border-color: hsl(from var(--primary-color) h 10% 60%);

  --summary-timer-item-invalid-background-color: hsl(from var(--secondary-2-color) h 75% 10%);
  --summary-timer-item-invalid-border-color: hsl(from var(--secondary-2-color) h 30% 60%);

  /* - - item rows */
  --summary-timer-item-row-line-background-color: hsl(from var(--primary-color) h 20% 25%);
  --summary-timer-item-total-time-background-color: hsl(from var(--primary-color) h 25% 15%);

  --summary-timer-item-progress-background-color: hsl(from var(--primary-color) h 50% 70%);
  --summary-timer-item-progress-border-color: hsl(from var(--primary-color) h 40% 60%);

  /* - - show more */
  --summary-timer-body-more-background-color: hsl(from var(--primary-color) h 33% 45%);

  /* * options.css */
  --options-header-border-bottom-color: hsl(from var(--primary-color) calc(h - 8) 28% 20%);
  --options-options-more-border-color: hsl(from var(--primary-color) h 10% 25%);
  --options-options-changed-configuration-background-color: hsl(
    from var(--background-color) h calc(s + 10) calc(l + 10)
  );

  /* - notifications */
  --options-notifications-config-border-color: hsl(from var(--primary-color) calc(h - 8) 28% 18%);

  /* - new day */
  --options-new-day-step-pointer-background-color: hsl(from var(--primary-color) h 30% 70%);
  --options-new-day-current-text-color: hsl(from var(--light) h s l);
  --options-new-day-current-background-color: hsla(from var(--primary-color) h 15% 30% / 0.7);

  /* - data */
  --options-data-feedbacks-border-color: hsl(from var(--primary-color) h 38% 30%);
  --options-data-feedbacks-progress-fill-background-color: hsl(from var(--primary-color) h 45% 50%);
  --options-data-feedbacks-step-option-border-color: hsl(from var(--primary-color) h 40% 50%);
  --options-data-feedbacks-step-option-border-color-hover: hsl(from var(--primary-color) h 29% 11%);
  --options-data-feedbacks-step-option-border-color-active: hsl(
    from var(--primary-color) h 30% 19%
  );
  --options-data-feedbacks-step-option-checked-border-color: hsl(
    from var(--secondary-1-color) h 35% 18%
  );
  --options-data-feedbacks-step-option-checked-border-color-hover: hsl(
    from var(--secondary-1-color) h 33% 22%
  );
  --options-data-feedbacks-step-option-checked-border-color-active: hsl(
    from var(--secondary-1-color) h 27% 31%
  );
  --options-data-feedbacks-step-error-message-color: hsl(
    from var(--secondary-2-color) calc(h + 10) 54% 68%
  );
  --options-data-feedbacks-step-warning-message-color: hsl(
    from var(--complement-color) calc(h + 10) 60% 60%
  );
  --options-data-feedbacks-step-file-name-background-color: hsl(
    from var(--primary-color) h 68% 16%
  );
  --options-data-feedbacks-step-thumbs-up-text-color: hsl(from var(--secondary-1-color) h 85% 40%);
  --options-data-feedbacks-step-triangle-exclamation-text-color: hsl(
    from var(--complement-color) h 85% 50%
  );
  --options-data-feedbacks-step-no-undo-color: hsl(
    from var(--secondary-2-color) calc(h + 8) 100% 70%
  );

  /* - popup */
  --options-popup-presets-button-text-color: hsla(from var(--text-color) h s l / 0.25);
  --options-popup-presets-button-box-shadow: hsl(from var(--primary-color) h 30% 20%);
  --options-popup-presets-button-selected-background-color: hsl(
    from var(--primary-color) h 30% 20%
  );
  --options-popup-presets-button-selected-border-outline-color: hsl(
    from var(--complement-color) h 60% 40%
  );
}

/* MARK: Global
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inconsolata, sans-serif;
  color: var(--text-color);
}

:focus-visible {
  outline: max(0.125em, 0.125rem) dashed var(--focus-outline) !important;
  outline-offset: max(0.125em, 0.125rem) !important;
  box-shadow: 0 0 0 max(0.375em, 0.375rem) var(--focus-box-shadow) !important;
}

[disabled="true"] {
  pointer-events: none;
  color: initial;
  background-color: initial;
  color: var(--text-color);
}

[disabled="true"]:not([data-disabled-effect="true"]) {
  opacity: 0.5;
  filter: grayscale(75%);
}

/* MARK: Animator
*/
.animator_expandable {
  overflow: hidden;
}

.animator_show_in {
  animation: 0.5s animator_animation ease-out forwards;
}

.animator_show_out {
  animation: 0.5s animator_animation ease-out reverse forwards;
}

@keyframes animator_animation {
  0% {
    translate: 0 1em;
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

/* MARK: Return messages
* Feedback messages classes
*/
.error_message,
.error_message::before {
  color: var(--options-data-feedbacks-step-error-message-color);
}

.warn_message,
.warn_message::before {
  color: var(--options-data-feedbacks-step-warning-message-color);
}

:is(.error_message, .warn_message) * {
  color: inherit;
}
