@font-face {
  font-family: "FontAwesome900";
  src: url("../assets/fonts/icons/fa-solid-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome400";
  src: url("../assets/fonts/icons/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.icons:not(.icons_after)::before,
input[type="checkbox"]::before,
.icons.icons_after::after {
  display: inline-block;
  font-family: "FontAwesome900";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.5rem;
  font-size: 1em;
}

.icons.icons_after::after {
  margin-left: 0.5rem;
  margin-right: 0;
}

.icons.nomargin::before {
  margin-right: 0;
}

.icons.arrow_down::before {
  content: "\f078";
}

.icons.arrow_up::before {
  content: "\f077";
}

.icons.arrow_left::before {
  content: "\f053";
}

.icons.arrow_right:not(.icons_after)::before {
  content: "\f054";
}

.icons.arrow_right.icons_after::after {
  content: "\f054";
}

.icons.exclamation::before {
  content: "\21";
}

.icons.alert::before {
  content: "\f071";
}

.icons.gear::before {
  content: "\f013";
}

.icons.chart_simple::before {
  content: "\e473";
}

.icons.skip::after {
  content: "\f04e";
}

.icons.xmark::before {
  content: "\f00d";
}

.icons.play::before {
  content: "\f04b";
}

.icons.upload::before {
  content: "\f093";
}

.icons.download::before {
  content: "\f019";
}

.icons.trash::before {
  content: "\f1f8";
}

.icons.forward_step::after {
  content: "\f051";
}

.icons.download_file::before {
  content: "\f56d";
}

.icons.upload_file::before {
  content: "\f574";
}

.icons.plus::before {
  content: "\2b";
}

.icons.hard_drive::before {
  content: "\f0a0";
}

.icons.file_import::before {
  content: "\f56f";
}

.icons.thumbs_up::before {
  content: "\f164";
}

.icons.circle_exclamation::before {
  content: "\f06a";
}

.icons.triangle_exclamation::before {
  content: "\f071";
}

.icons.wrench::before {
  content: "\f0ad";
}

.icons.list::before {
  content: "\f03a";
}

.icons.filter::before {
  content: "\f0b0";
}

.icons.sort::before {
  content: "\f0dc";
}

.icons.arrow_bar_ascending::before {
  content: "\f160";
}

.icons.arrow_bar_descending::before {
  content: "\f885";
}

.icons.arrow_number_ascending::before {
  content: "\f162";
}

.icons.arrow_number_descending::before {
  content: "\f163";
}

.icons.arrow_alphabet_ascending::before {
  content: "\f15d";
}

.icons.arrow_alphabet_descending::before {
  content: "\f15e";
}
