/* MARK: Global inputs
*/
input,
button,
.button {
  font-size: 1rem;
  border-radius: 0.5em;
  line-height: 1.25em;
}

input:is([type="checkbox"], [type="radio"]),
button,
label,
.button {
  cursor: pointer;
}

/* MARK: Buttons
*/
:is(button, .button):not(.no_button_style) {
  padding: 0.5em 1em;
}

button:not(.no_button_style),
.button {
  border: solid 0.1em var(--button-border-color);
  background-color: var(--button-background-color);
}

[class*="square"] {
  padding: 0.5em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(1em + 1.2em + 0.2em);
  height: calc(1em + 1.2em + 0.2em);
}

[class*="square_small"] {
  font-size: 0.75rem;
  border-radius: 0.25em;
}

.square_big {
  width: 4em;
  height: 4em;
}

button:not(.no_button_style):is(:hover, :focus-visible),
.button:is(:hover, :focus-visible) {
  border-color: var(--button-border-color-hover);
  background-color: var(--button-background-color-hover);
}

button:not(.no_button_style):active,
.button:active {
  border-color: var(--button-border-color-active);
  background-color: var(--button-background-color-active);
}

/* MARK: Other inputs
*/
input:not([type="checkbox"], [type="radio"], .no_input_style) {
  border: solid 0.1em var(--input-border-color);
  background-color: var(--input-background-color);
}

input:not([type="checkbox"], [type="radio"], .no_input_style):is(:hover, :focus-visible) {
  border-color: var(--input-border-color-hover);
  background-color: var(--input-background-color-hover);
}

input:not([type="checkbox"], [type="radio"], .no_input_style):active {
  border-color: var(--input-border-color-active);
  background-color: var(--input-background-color-active);
}

/* MARK: Checkbox & Radio
*/
input:is([type="checkbox"], [type="radio"]) {
  appearance: none;
  border: solid 0.1em var(--input-checkbox-radio-border-color);
  background-color: var(--input-checkbox-radio-background-color);
  border-radius: 0.5em;
  height: 1.5em;
  width: 1.5em;

  position: relative;
}

input:is([type="checkbox"], [type="radio"]):is(:hover, :focus-visible) {
  border-color: var(--input-checkbox-radio-border-color-hover);
  background-color: var(--input-checkbox-radio-background-color-hover);
}

input:is([type="checkbox"], [type="radio"]):active {
  border-color: var(--input-checkbox-radio-border-color-active);
  background-color: var(--input-checkbox-radio-background-color-active);
}

/* MARK: Checkbox Normal
*/
input[type="checkbox"]::before {
  content: "\f00c";
  position: absolute;
  inset: 0;

  user-select: none;
  margin-right: 0 !important;

  display: flex !important;
  justify-content: center;
  align-content: center;

  opacity: 0;
}

input[type="checkbox"]:not([data-type="toggle"]):checked {
  border-color: var(--input-checkbox-checked-border-color);
  background-color: var(--input-checkbox-checked-background-color);
  transition: 0.25s ease-out;
}

input[type="checkbox"]:not([data-type="toggle"]):checked::before {
  opacity: 1;
  animation: 0.5s check_in cubic-bezier(0.5, 0.2, 0.3, 0.8);
}

@keyframes check_in {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* MARK: Checkbox Toggle
*/
input[type="checkbox"][data-type="toggle"] {
  width: 2.8em;
  height: 1.5em;
  border-radius: 1em;
  flex: 0 0 2.8em;
}

input[type="checkbox"][data-type="toggle"]::before {
  content: "";
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  left: 0.1em;
  top: 0.1em;

  border-radius: 1em;
  background-color: var(--input-checkbox-toggle-background-color);
  opacity: 1;

  transform-origin: 0% 50%;
  transition: 0.2s ease-out;
  animation: toggle_out 0.5s;
}

input[type="checkbox"][data-type="toggle"]:checked::before {
  animation: toggle_in 0.5s;
}

input[type="checkbox"][data-type="toggle"]:active::before {
  background-color: var(--input-checkbox-toggle-background-color-active);
}

input[type="checkbox"][data-type="toggle"]:checked:active::before {
  background-color: var(--input-checkbox-toggle-background-color-active-checked);
}

input[type="checkbox"][data-type="toggle"]:checked::before {
  background-color: var(--input-checkbox-toggle-background-color-checked);
  translate: 1.3em;
  transform-origin: 100% 50%;
}

@keyframes toggle_out {
  50% {
    scale: 1.1 0.9;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes toggle_in {
  50% {
    scale: 1.1 0.9;
  }
  100% {
    scale: 1 1;
  }
}

/* MARK: Radio
*/
input[type="radio"] {
  border-radius: 1em;
}

input[type="radio"]::before {
  content: "";
  position: absolute;
  inset: 0;

  user-select: none;
  background-color: var(--input-radio-checked-background-color);

  margin: 0.25em;
  opacity: 0;
  border-radius: inherit;
}

input[type="radio"]:checked::before {
  opacity: 1;
}

.input_error {
  border-color: var(--input-error-border-color) !important;
}

input:not([type="range"]) {
  padding: 0.5em;
}
