main {
  --padding-inline: 1rem;
  --content-max-width: 160ch;
  --breakout-max-width: 170ch;

  --breakout-size: minmax(0, calc((var(--breakout-max-width) - var(--content-max-width)) / 2));

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] var(--breakout-size)
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end]
    var(--breakout-size) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
  gap: 1rem 0;

  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100svh;
}

:is(main, .full-width) > :not(.breakout, .full-width) {
  grid-column: content;
}

main > .breakout {
  grid-column: breakout;
}

main > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

main > .full-width.strech {
  display: grid;
  grid-template-columns: inherit;
}

.full-width.strech > * {
  grid-column: full-width;
}

h1 {
  padding-top: 1rem;
}

footer {
  background-color: lightblue;
}

.footer_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-block: 1em;
}

.footer_div_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.footer_div_logo > img {
  grid-row: span 2;
  width: 3em;
}

.footer_div_logo > p {
  width: min-content;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.125em;
}
