.header_buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

#link_dates_button[data-enabled="false"]::before {
  color: var(--text-color-faded);
}

#link_dates_info_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: min(60ch, calc(100% - 2rem));
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--summary-filter-background-color);
  box-shadow: 0 0.25em 0.5em var(--summary-filter-box-shadow);
  /* background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.6) 50%, hsla(0, 0%, 100%, 0.6) 50%); */
}

.tutorial_no_poiters {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: var(--summary-tutorial-no-pointers-background-color);
}

#tutorial[data-selectable="true"] .tutorial_no_poiters {
  pointer-events: unset;
  opacity: 0;
}

.tutorial_highlighter {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: solid 0.25em var(--summary-tutorial-highlighter-background-color);
  box-shadow: 0 0 0 200vmax var(--summary-tutorial-highlighter-box-shadow);

  box-sizing: content-box;
  translate: -0.25em -0.25em;
}

.tutorial_popup {
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;

  width: min(100ch, calc(100vw - 2em));
  max-height: calc(100vh - 2em);

  z-index: 200;

  padding: 1em;
  margin-inline: auto;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1em;

  background-color: var(--summary-tutorial-popup-background-color);
  border: solid 0.125em var(--summary-tutorial-popup-border-color);
  border-radius: 0.5em;

  box-shadow: 0 0.25em 0.5em -0.25em var(--summary-tutorial-popup-box-shadow);
}

.tutorial_popup[data-finished="true"] {
  background-color: var(--summary-tutorial-popup-finished-background-color);
  border-color: var(--summary-tutorial-popup-finished-border-color);
}

.popup_animate_in {
  animation: 2s popup_animate_in cubic-bezier(0.8, 0.5, 0.5, 1.25) forwards;
}

.popup_animate_out {
  animation: 2s popup_animate_out cubic-bezier(0.75, -0.5, 0, 1) forwards;
}

@keyframes popup_animate_in {
  0% {
    translate: 0 calc(200% + 2em);
  }
  100% {
    translate: 0 0;
  }
}

@keyframes popup_animate_out {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 calc(200% + 2em);
  }
}

.tutorial_popup_text {
  text-align: justify;
  display: grid;
  gap: 0.75em;
  font-weight: 600;

  padding-right: 0.25em;
  scrollbar-width: thin;
  overflow: auto;
}

.tutorial_popup_text_header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}

.tutorial_popup_text_title {
  font-size: 1.25rem;
  font-weight: 800;
}

.tutorial_popup_text_description {
  display: grid;
  gap: 0.5em;
}

.tutorial_popup_text_description_tip {
  padding: 0.5em;
  padding-right: calc(0.5em + 0.25em);
  border-left: solid 0.25em var(--summary-tutorial-description-tip-border-left-color);
  background-color: var(--summary-tutorial-description-tip-background-color);
}

.tutorial_popup_buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.75em;
}

.tutorial_popup_buttons_next_prev_options,
.tutorial_popup_buttons_skip_options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: inherit;
}

.tutorial_popup_buttons_skip_options {
  grid-template-columns: 1fr;
}

.tutorial_popup_buttons[data-skip-tutorial="true"] .tutorial_popup_buttons_skip_options {
  grid-template-columns: auto 1fr;
}

@media (max-width: 40em) {
  .tutorial_popup_buttons {
    flex-direction: column;
  }
  .tutorial_popup_buttons[data-skip-tutorial="true"] .tutorial_popup_buttons_skip_options {
    grid-template-columns: 1fr 1fr;
  }
  .arrow_left,
  .arrow_right {
    width: 100%;
  }
}

.button_skip {
  position: relative;
  overflow: hidden;
}

.button_skip::before {
  content: "";
  inset: 0;
  left: unset;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 1);
  width: 100%;
  margin: 0;
  mix-blend-mode: overlay;
  opacity: 0;
}

.button_skip.wait_skip::before {
  opacity: 1 !important;
  animation: wait_skip 1s cubic-bezier(0.3, 0, 0.5, 1) forwards;
}

@keyframes wait_skip {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.tutorial_popup_helper_image {
  display: block;
}
