.section_options.data {
  margin-bottom: 20em;
}

.data_tabs {
  display: flex;
  gap: 0.5em;

  scrollbar-width: thin;
  position: relative;
}

.data_tabs_buttons {
  flex: 0 0 calc(8ch + 0.8em + 2.2em);

  margin-bottom: 0.75em;
}

@media (max-width: 30em) {
  .data_tabs {
    padding: 0.5em;
    padding-bottom: 0;
    overflow-x: auto;
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      white 0.5em,
      white calc(100% - 0.5em),
      transparent 100%
    );
  }
}

.data_tabs_buttons[data-selected-tab="true"] {
  border-radius: 0.5em 0.5em 0 0;
  padding-bottom: 1.25em;
  margin-bottom: 0;
  border-bottom-color: transparent !important;
}

.data_tabs_buttons:nth-child(2) {
  margin-right: 1em;
}

.data_tabs_buttons:last-child {
  margin-left: auto;
}

.data_feedbacks {
  display: grid;
  gap: 1em;

  padding: 1em;
  padding-top: 1.5em;
  border: solid 0.1em var(--options-data-feedbacks-border-color);
  border-radius: 0 0 0.25em 0.25em;

  position: relative;
}

.data_feedback_progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  display: grid;
}

.data_feedback_progress_fill {
  background-color: var(--options-data-feedbacks-progress-fill-background-color);
}

.data_feedbacks[data-success="true"] .data_feedback_progress_fill {
  background-color: var(--options-data-feedbacks-step-thumbs-up-text-color);
}

#data_feedbacks_close_feedback_button {
  position: absolute;
  top: 0;
  right: 0;
}

.data_feedbacks_step {
  display: grid;
  gap: 1em;
}

.data_feedbacks_step > h3.thumbs_up::before {
  color: var(--options-data-feedbacks-step-thumbs-up-text-color);
}

.data_feedbacks_step > h3.triangle_exclamation::before {
  color: var(--options-data-feedbacks-step-triangle-exclamation-text-color);
}

.data_feedbacks_step_options {
  display: grid;
  gap: 0.5em;
}

.data_feedbacks_step_options_option {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5em;
  padding: 0.75em;
  border: solid 0.1em var(--options-data-feedbacks-step-option-border-color);
  border-radius: 0.5em;
}

.data_feedbacks_step_options_option_text {
  display: grid;
  gap: 0.25em;
}

.data_feedbacks_step_options_option_text_title {
  font-weight: 700;
}

.data_feedbacks_step_options_option:hover {
  background-color: var(--options-data-feedbacks-step-option-border-color-hover);
}

.data_feedbacks_step_options_option:active {
  background-color: var(--options-data-feedbacks-step-option-border-color-active);
}

.data_feedbacks_step_options_option:has(> input:checked) {
  background-color: var(--options-data-feedbacks-step-option-checked-border-color);
}

.data_feedbacks_step_options_option:has(> input:checked):hover {
  background-color: var(--options-data-feedbacks-step-option-checked-border-color-hover);
}

.data_feedbacks_step_options_option:has(> input:checked):active {
  background-color: var(--options-data-feedbacks-step-option-checked-border-color-active);
}

.data_feedbacks_step_error_message,
.data_feedbacks_step_error_message::before {
  color: var(--options-data-feedbacks-step-error-message-color);
}

.data_feedbacks_step_no_undo {
  color: var(--options-data-feedbacks-step-no-undo-color);
}

.data_feedbacks_step_import_file_group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.data_feedbacks_step_date_conflict,
.data_feedbacks_step_file_name,
.data_feedbacks_step_selected_options,
.data_feedbacks_step_confirm_wanted_value {
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  background-color: var(--options-data-feedbacks-step-file-name-background-color);
  font-weight: 600;
}
