:root[data-theme-transition="true"] *,
:root[data-theme-transition="true"] *::before,
:root[data-theme-transition="true"] *::after {
  transition-property: background, background-color, border, color;
  transition-duration: 1s;
}

main {
  --content-max-width: 120ch;
  --breakout-max-width: 130ch;
}

.section_options {
  display: grid;
  gap: 1em;
  position: relative;
}

.section_options_header,
.section_options_subheader,
.section_options_more,
.section_options_options {
  display: grid;
  gap: 0.5em;
}

.section_options_section {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}

.section_options_enable {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.section_options_header {
  padding-bottom: 1em;
  border-bottom: 0.125em solid var(--options-header-border-bottom-color);
}

.section_options_subheader:not([data-border-header="no_top"]) {
  padding-top: 1em;
  border-top: 0.125em solid var(--options-header-border-bottom-color);
}

h3 {
  font-size: 1.3rem;
}

.section_options_more {
  margin-left: 0.75em;
  padding-left: calc(0.75em + 0.5em);
  position: relative;
  padding-bottom: 0.5em;
  display: grid;
  gap: 1em;
}

.section_options_more::before {
  content: "";
  position: absolute;
  left: -0.0625em;
  top: -0.5em;
  bottom: 0em;

  width: 0.75em;

  border-left: 0.125em solid var(--options-options-more-border-color);
  border-bottom: 0.125em solid var(--options-options-more-border-color);
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);

  border-radius: 0 0 0.5em 0.5em;
}

.section_options_button_not_full_width {
  width: fit-content;
}

.section_options[data-changed-configuration="true"] {
  background-color: var(--options-options-changed-configuration-background-color);
  outline: 0.125em solid var(--focus-outline);
}

.section_options_more_config {
  gap: 0.5em;
}

.section_options_more_config {
  display: grid;
  padding: 0.5em;
  border: solid 0.1em var(--options-notifications-config-border-color);
  border-radius: 0.5em;
}

.section_options_more_config > label {
  display: grid;
  gap: 0.25em;
}

.data_feedbacks_step_error_message,
.data_feedbacks_step_error_message > strong,
.data_feedbacks_step_error_message::before {
  color: var(--options-data-feedbacks-step-error-message-color);
}

.data_feedbacks_step_warn_message,
.data_feedbacks_step_warn_message > strong,
.data_feedbacks_step_warn_message::before {
  color: var(--options-data-feedbacks-step-warning-message-color);
}
