/* MARK: Presets
*/
.popup_options_presets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(6em, 100%), 1fr));
  grid-auto-rows: 1fr;
  gap: 1em;
}

.popup_options_presets_button
  :is(
    .summary_button_time_current,
    .summary_button_time_total,
    .summary_button_progress_text > span
  ) {
  background-color: hsla(from currentColor h s l / 0.25);
  color: transparent;
  border-radius: 0.25em;
  width: 4ch;
  display: inline-block;
  justify-self: center;
  align-self: center;
}

.popup_options_presets_button {
  box-shadow: 0 0.5rem 0.5rem -0.25rem var(--options-popup-presets-button-box-shadow);
}

.popup_options_presets_button[data-selected="true"] {
  background-color: var(--options-popup-presets-button-selected-background-color);
  border-color: var(--options-popup-presets-button-selected-border-outline-color);
  outline: 0.125rem solid var(--options-popup-presets-button-selected-border-outline-color);

  outline-offset: 0;
  box-shadow: none;
}

.popup_options_presets_button {
  font-size: 0.5rem;
}

.popup_options_presets_button .summary_button_progress_bar_rectangular {
  box-shadow: none;
}

.popup_options_presets_button[data-progress-axis="circular"] .summary_button_progress_text {
  --angle-outer: -90deg;
  --angle-inner: 450deg;
}

.popup_options_presets_button[data-progress-axis="circular"] .summary_button_progress_text > span {
  display: none;
}

.popup_options_presets_custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  gap: 0.5em;
}

.summary_button_progress_bar_circular_svg_circle_shadow {
  display: none;
}

.summary_button_progress_bar_circular_svg_fill {
  --percent: 0.3;
  --progress: 30%;
}

.popup_options_presets_button .summary_button_progress_bar_circular_svg_fill {
  stroke: var(--popup-progress-bar-fill-background-color);
  stroke-dasharray: calc(62.75em * var(--percent)), 62.75em;
}

.summary_button .summary_button_progress_text {
  --angle-outer: 18deg !important;
  --angle-inner: 342deg !important;
}

.popup_options_presets_custom > span {
  font-size: 1rem;
}

.popup_options_presets_custom::before {
  font-size: 1.5rem !important;
}

/* MARK: Customize
*/
.summary_button_progress {
  --percent: 0.6;
  --progress: 60%;
}

.section_options.popup {
  gap: 1.5em !important;
}

.section_options_all {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}

.section_options {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  gap: inherit;
}

.popup_options_enable {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: max(1.5em, auto);
  gap: 0.5em;
}

.popup_options_enable_title {
  font-weight: 700;
}

.popup_options_enable_item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.popup_options_enable_item > span:nth-child(1) {
  text-align: right;
}

.section_options.popup .data_feedbacks_step_warn_message {
  grid-column: 1 / -1;
}

@media (max-width: 50em) {
  .section_options_all {
    grid-template-columns: 1fr auto;
  }
  .popup_options_enable_item {
    grid-template-columns: 1fr auto 1fr;
  }
}

@media (max-width: 34em) {
  .section_options_all {
    grid-template-columns: 1fr;
  }
  .popup_options_enable_item {
    justify-self: left;
  }
}
