body {
  background-color: hsl(190, 29%, 92%);
  display: grid;
  gap: 0.5em;
  width: max-content;
  min-width: 20ch;
}

#timer_button {
  border: none;
  border-radius: 0.4em;
  padding: 1em;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  text-align: center;
  cursor: pointer;
}

#timer_button:is(:focus-visible, :hover) {
  background-color: hsl(188, 43%, 84%);
}

#timer_button:active {
  background-color: hsl(189, 32%, 69%);
}

.timer_div {
  font-size: 1.5rem;
  display: grid;
  gap: 0.125em;
  min-width: 7ch;
}

.timer_value {
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-family: monospace;
}

.timer_separator {
  border: solid 0.1rem hsl(196, 19%, 65%);
  border-radius: 0.1rem;
}

.timer_text {
  font-size: 0.9em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-top: 0.125rem solid hsl(196, 19%, 65%);
  font-size: 0.8rem;
}

footer img {
  width: 2rem;
}

footer p {
  width: min-content;
  letter-spacing: 0.25ch;
  font-weight: 900;
  text-align: center;
}

.timer_progress_text {
  font-size: 1rem;
  font-weight: 500;
}

.timer_progress_bar {
  display: grid;
  width: 7ch;
  height: 0.5rem;
  background-color: #55a6b4;
  border-radius: 0.5em;
  overflow: clip;
  box-shadow: inset 0.0625em 0.0625em 0 #4698a6;
}

.timer_progress_bar_fill {
  background-color: #083a43;
  border-radius: 0.25em;
}
