body {
  background-color: var(--popup-background-color-color);
  display: grid;
  width: max-content;
  min-width: 20ch;
}

/* MARK: Summary
*/
#summary_button {
  border: none;
  border-radius: 0;
  padding: 1em;
  background-color: transparent;

  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  text-align: center;
  cursor: pointer;
}

#summary_button:is(:focus-visible, :hover) {
  background-color: var(--popup-background-color-hover);
}

#summary_button:active {
  background-color: var(--popup-background-color-active);
}

.summary_button_group {
  font-size: 1.5rem;
  display: grid;
  gap: 0.25rem;
  font-weight: 600;
}

.summary_button_time_hr {
  border: solid 0.1rem var(--popup-timer-separator-background-color);
  border-radius: 0.1rem;
}

.summary_button_text {
  grid-column: 1 / -1;
  font-size: 0.8em;
}

.summary_button_progress {
  --percent: 0;
  --progress: 0%;
  gap: 0.6rem;
}

.summary_button_progress_text {
  display: none;
}

.summary_button_progress_text > span {
  color: inherit;
}

/* Rectangular */
.summary_button_progress_bar_rectangular {
  display: none;
  height: 0.5em;
  background-color: var(--popup-progress-bar-background-color);
  border-radius: 0.5em;
  overflow: clip;
  box-shadow: inset 0.0625em 0.0625em 0 var(--popup-progress-bar-box-shadow);
}

.summary_button_progress_bar_rectangular_fill {
  background-color: var(--popup-progress-bar-fill-background-color);
  border-radius: inherit;
}

#summary_button[data-progress-axis] .summary_button_progress_text {
  display: block;
}

#summary_button[data-progress-axis] .summary_button_progress_bar_rectangular {
  display: grid;
}

/* Circular */
.summary_button_progress_bar_circular {
  aspect-ratio: 1/1;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}

.summary_button_progress_bar_circular_svg {
  display: block;
  transform: rotate(-90deg);
}

.summary_button_progress_bar_circular_svg_circle {
  stroke: var(--popup-progress-bar-background-color);
  z-index: 1;
  stroke-width: 0.25em;
}

.summary_button_progress_bar_circular_svg_circle_shadow {
  stroke: var(--popup-progress-bar-box-shadow);
  stroke-width: 0.0625em !important;
  r: 82px;
}

.summary_button_progress_bar_circular_svg_fill {
  stroke: var(--popup-progress-bar-fill-background-color);
  stroke-dasharray: calc(20.9em * var(--percent)), 20.9em;
  stroke-dashoffset: 0;
  transition: stroke-dasharray 1s 0.25s;

  @starting-style {
    stroke-dasharray: 0, 20.9em;
  }
}

/* MARK: Columns
*/
#summary_button[data-columns="1"] {
  grid-template-columns: 14ch;
}

#summary_button[data-columns="2"] {
  grid-template-columns: 14ch 14ch;
}

/* MARK: Horizontal
*/
#summary_button[data-progress-axis="horizontal"] .summary_button_progress_bar_rectangular_fill {
  translate: calc(var(--progress) - 100%);
  transition: translate 1s 0.25s;

  @starting-style {
    translate: -100%;
  }
}

#summary_button[data-progress="inside"][data-progress-axis="horizontal"]
  :is(.summary_button_progress_text, .summary_button_progress_bar_rectangular) {
  grid-area: 1 / 1 / -1 / -1;
}

#summary_button[data-progress="inside"][data-progress-axis="horizontal"]
  .summary_button_progress_text {
  z-index: 1;
  color: hsl(var(--hue), 2%, 98%);
}

#summary_button[data-columns="2"] .summary_button_progress {
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

#summary_button:is([data-progress="inside"], [data-progress-bar="large"])
  .summary_button_progress_bar_rectangular {
  height: 1em;
}

/* MARK: Vertical
*/
#summary_button[data-columns="2"][data-progress-axis="vertical"] {
  grid-template-columns: 10ch auto;
}

#summary_button[data-progress-axis="vertical"] .summary_button_progress {
  grid-template-rows: unset;
  grid-template-columns: 5ch auto;
}

#summary_button[data-columns="1"][data-progress-axis="vertical"] .summary_button_progress {
  grid-template-columns: 4ch 4ch;
  justify-content: center;
}

#summary_button[data-progress-axis="vertical"] .summary_button_progress_text {
  display: grid;
  align-items: center;
  text-align: right;
  align-self: stretch;
}

#summary_button[data-columns="1"][data-progress-axis="vertical"]
  .summary_button_progress_bar_rectangular {
  height: 8ch;
  width: 0.5em;
}

#summary_button[data-columns="2"][data-progress-axis="vertical"]
  .summary_button_progress_bar_rectangular {
  height: 10ch;
  width: 0.5em;
  margin-right: 0.5em;
}

#summary_button[data-progress-axis="vertical"][data-progress-bar="large"]
  .summary_button_progress_bar_rectangular {
  width: 1em;
}

#summary_button[data-progress-axis="vertical"] .summary_button_progress_bar_rectangular_fill {
  translate: 0 calc(100% - var(--progress));
  transition: translate 1s 0.25s;

  @starting-style {
    translate: 0 100%;
  }
}

/* MARK: Circular
*/
#summary_button[data-progress-axis="circular"] {
  grid-template-columns: 22ch;
  grid-template-rows: 22ch;
}

#summary_button[data-progress-axis="circular"]
  > :is(.summary_button_time, .summary_button_progress) {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

#summary_button[data-progress-axis="circular"] > .summary_button_time {
  justify-self: center;
  align-self: center;
}

#summary_button[data-progress-axis="circular"] > .summary_button_progress {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#summary_button[data-progress-axis="circular"]
  :is(.summary_button_progress_text, .summary_button_progress_bar_circular) {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

#summary_button[data-progress-axis="circular"] .summary_button_progress_text {
  align-self: center;
}

#summary_button[data-progress-axis="circular"] .summary_button_progress_text {
  padding-inline: 1rem;
  text-align: right;
  --angle-outer: 0deg;
  --angle-inner: 0deg;
  rotate: var(--angle-outer);
  transition: rotate 1s 0.25s;
  font-size: 1rem;

  @starting-style {
    rotate: -90deg;
  }
}

#summary_button[data-progress-axis="circular"] .summary_button_progress_text > span {
  display: inline-block;
  rotate: var(--angle-inner);
  transition: rotate 1s 0.25s;

  @starting-style {
    rotate: 450deg;
  }
}

#summary_button[data-progress-axis="circular"] .summary_button_time {
  display: grid;
  grid-template-columns: 7ch;
}

#summary_button[data-progress-axis="circular"][data-progress-bar="large"]
  .summary_button_progress_bar_circular_svg_circle {
  stroke-width: 0.4em;
}

#summary_button[data-progress-axis="circular"][data-progress-bar="large"]
  .summary_button_progress_bar_circular_svg_circle_shadow {
  r: 84px;
}

/* MARK: Footer
*/
footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-top: 0.125rem solid var(--popup-footer-background-color);
  font-size: 0.8rem;
}

footer img {
  width: 2rem;
}

footer p {
  width: min-content;
  letter-spacing: 0.25ch;
  font-weight: 900;
  padding-right: 0.5em;
}
